.titulo {
    text-align: center;
    color: #111;
}

.subtitulo {
    font-family: Arial;
}

div {
    background: #111;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

.subtexto {
    color: #FFFFFF;
}

.numero {
        font-family: Arial;
        color: #febe01;
}

.fundo {
    background-color: #111;
    
}