/* Seleciona h1 e p */
h1,
p {
    color: blue;
}

/* Seleciona a dentro de p */

p a{
    color: green;
}

h1 {
    background: black;
    color: white;
}

a {
    background-color: seagreen;
    color: white;
}